{#
 # Template for navigation.
 #
 # @see https://getbootstrap.com/docs/4.0/components/navs/
 # @version 1.0.0
 #
 # @var nav_items	Array of menu items from WordPress.
 #}

{% if nav_items %}
	<ul class="nav ml-auto custom-dropdown align-items-center py-4 py-xl-0 {{ classes }}">
		{% for item in nav_items %}
			<li class="nav-item {{ item.get_children ? 'dropdown' }} {{ item.classes|join(' ') }}">
				{% if not item.get_children %}
					<a class="nav-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% else %}


				<a class="nav-link dropdown-toggle d-inline-block" target="{{ item.target }}" href="{{ item.link }}"  aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
				<a href="#" class="custom-dropdown-toggle d-inline-block js-custom-dropdown-toggle ml-1 ml-xl-0" data-toggle="dropdown" id="{{ item.slug }}-dropdown">{% include 'assets/images/down-arrow.svg' %}</a>

					<div class="dropdown-menu px-2 py-2" aria-labelledby="{{ item.slug }}-dropdown">
						{% for sub_item in item.get_children %}
							<a class="dropdown-item mb-1 {{ sub_item.classes|join(' ') }}" target="{{ sub_item.target }}" href="{{ sub_item.link }}">{{ sub_item.title }}</a>
						{% endfor %}
					</div>
				{% endif %}
			</li>

			{% if not loop.last %}
				<div class="d-none d-xl-block nav-separator {{item.get_children ? 'nav-separator--extra_margin' : ''}}"></div>
			{% endif %}
		{% endfor %}

		{% include 'nav/nav-languages.twig' %}

		<li class="nav-item">
			{% if site.social %}
				{% include 'nav/nav-some.twig' with { links: site.social, mobile: true } %}
			{% endif %}
		</li>
	</ul>
{% endif %}
